<br/>
<div class="container">
    <br />

    <br/>
    <div class="row">
        <div class="col-md-6">
            @{Html.RenderAction("UpcomingEvent");
            }
        </div>

        <div class="col-md-6">
            @{Html.RenderAction("PastEvent");
            }
        </div>
    </div>
</div>